

<h1>Add Product</h1>
{{#if msg}}
 <div class="alert alert-info">{{msg}}</div>
{{/if}}
 <form action="/insertproduct" method="post" enctype="multipart/form-data">
   <div class="mb-3 mt-3">
     <label for="email">Product Name:</label>
     <input type="text" class="form-control" id="email" placeholder="Enter email" 
      name="pname">
   </div>
   <div class="mb-3">
     <label for="pwd">Price:</label>
     <input type="text" class="form-control" id="pwd" placeholder="Enter Price" 
      name="price">
   </div>
   <div class="mb-3">
  <label for="pwd">Qty:</label>
  <input type="text" class="form-control" id="pwd" placeholder="Enter Qty"
   name="qty">
</div>
<div class="mb-3">
  <label for="pwd">Image:</label>
  <input type="file" class="form-control" id="pwd" 
   name="image">
</div>
   <div class="form-check mb-3">
     <label class="form-check-label">
       <input class="form-check-input" type="checkbox" name="remember"> Remember me
     </label>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>