<h1>View Cart</h1>
{{#if msg}}
 <div class="alert alert-info">{{msg}}</div>
{{/if}}


  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {{#each cartdata}}
            <tr>
                <td>{{this.productId}}</td>
            </tr>
        {{/each}}
    </tbody>
  </table>