<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        ul{
            margin-top: 10px;
        }
        li{
            height: 50px;
            display: inline-block;
            background-color: black;
            color: white;
            padding: 10px;
        }
        li a{
            color: white;
        }
    </style>

<div class="container"> 
    <div class="row">
<ul>
    <li class="col-md-2 ml-3"><a href="/create">Create user</a></li>
    <li class="col-md-2 ml-3"><a href="/view">View user</a></li>
    
</ul>
</div>



